<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liendo Matías Web</title>
    <link rel="stylesheet" href="style.css" />

    <!-- https://boxicons.com/ -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />

    <!-- https://remixicon.com/ -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- https://fonts.google.com/ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <a href="#" class="logo">MATIAS LIENDO DEV</a>

      <input type="checkbox" name="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-icon-action">
        <div class="bx bx-menu" id="menu-icon"></div>
      </label>

      <ul class="navlist">
        <li><a href="#home">Home</a></li>
        <li><a href="#tech-stack">Sobre mí</a></li>
        <li><a href="#projects">Portfolio</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </header>

    <section class="hero" id="home">
      <video autoplay muted loop class="background-video">
        <source src="assets/gif/fondo-hero_animation.mp4" type="video/mp4">
        <source src="assets/gif/fondo-hero_animation.mp4" type="video/webm">
        Your browser does not support the video tag.
      </video>
      <div class="hero-text">
        <h5>Software Developer</h5>
        <h4></h4>
        <h1>Matías Liendo Dev</h1>
        <p>
          Desarrollador de software fullstack .Net,<br />
          Apasianado por la tecnología y brindar soluciones digitales.
        </p>
        <a href="CV Liendo Matías Dev.pdf" class="cta" target="_blank">CV</a>
        <a href="#" class="proyectos"
          ><i class="ri-play-fill"></i>Ver proyectos</a
        >
      </div>

      <!-- <div class="hero-img">
        <img src="assets/imgs/foto-perfil.png" alt="mati liendo foto" />
      </div> -->
    </section>

    <div class="icons">
      <a href="https://www.linkedin.com/in/mat%C3%ADas-liendo/" target="_blank"
        ><i class="ri-linkedin-box-fill"></i
      ></a>
      <a href="https://github.com/matiliendogit" target="_blank"
        ><i class="ri-github-fill"></i
      ></a>
    </div>

    <div class="scroll-down">
      <a href="#"><i class="ri-arrow-down-s-fill"></i></a>
    </div>

    <section id="projects">
      <h2>Mis Proyectos</h2>
      <div class="projects-container">
        <div class="project">
          <img src="proyecto1.jpg" alt="Proyecto 1" />
          <div class="project-info">
            <h3>Nombre del Proyecto 1</h3>
            <p>Breve descripción del proyecto 1.</p>
          </div>
        </div>
        <div class="project">
          <img src="proyecto2.jpg" alt="Proyecto 2" />
          <div class="project-info">
            <h3>Nombre del Proyecto 2</h3>
            <p>Breve descripción del proyecto 2.</p>
          </div>
        </div>
        <div class="project">
          <img src="proyecto2.jpg" alt="Proyecto 2" />
          <div class="project-info">
            <h3>Nombre del Proyecto 2</h3>
            <p>Breve descripción del proyecto 2.</p>
          </div>
        </div>
        <!-- Agrega más proyectos aquí -->
      </div>
    </section>

    <section id="tech-stack">
      <h2>Mi Stack Tecnológico</h2>
      <div class="tech-stack-container">
        <div class="subtech-stack-container" id="microsoft-techs">
          <div class="tech-icon">
            <img src="assets/icons/csharp-original.svg" alt="C#" />
            <p>C#</p>
          </div>
          <div class="tech-icon">
            <img src="assets/icons/dot-net-original.svg" alt=".NET Framework" />
            <p>.NET</p>
          </div>
          <div class="tech-icon">
            <img
              src="assets/icons//microsoftsqlserver-original.svg"
              alt="SQL Server"
            />
            <p>SQLServer</p>
          </div>
        </div>
        <div class="subtech-stack-container" id="js-techs">
          <div class="tech-icon">
            <img src="assets/icons/javascript-original.svg" alt="JavaScript" />
            <p>JavaScript</p>
          </div>
          <div class="tech-icon">
            <img
              src="assets/icons/nodejs-original-wordmark.svg"
              alt="Node.js"
            />
            <p>Node.js</p>
          </div>
          <div class="tech-icon">
            <img
              src="assets/icons/express-original.svg"
              id="express"
              alt="Express"
            />
            <p>Express</p>
          </div>
          <div class="tech-icon">
            <img src="assets/icons/postman-original.svg" alt="Postman" />
            <p>Postman</p>
          </div>
        </div>

        <div class="subtech-stack-container" id="web-techs">
          <div class="tech-icon">
            <img src="assets/icons/css3-original.svg" alt="CSS" />
            <p>CSS</p>
          </div>
          <div class="tech-icon">
            <img src="assets/icons/html5-original.svg" alt="HTML" />
            <p>HTML</p>
          </div>
          <div class="tech-icon">
            <img src="assets/icons/file-type-ejs.svg" alt="EJS" />
            <p>EJS</p>
          </div>
          <div class="tech-icon">
            <img src="assets/icons/react-original.svg" alt="React" />
            <p>React</p>
          </div>
        </div>

        <div class="subtech-stack-container" id="ddbb-techs">
          <div class="tech-icon">
            <img src="assets/icons/mysql-original.svg" alt="MySQL" />
            <p>MySQL</p>
          </div>
          <div class="tech-icon">
            <img src="assets/icons/sequelize-original.svg" alt="Sequelize" />
            <p>Sequelize</p>
          </div>
        </div>

        <div class="subtech-stack-container" id="work-techs">
          <div class="tech-icon">
            <img src="assets/icons/trello-original.svg" alt="Trello" />
            <p>Trello</p>
          </div>
          <div class="tech-icon">
            <img src="assets/icons/scrum-original.svg" alt="Scrum" id="scrum" />
            <p>Scrum</p>
          </div>
          <div class="tech-icon">
            <img src="assets/icons/figma-original.svg" alt="Figma" />
            <p>Figma</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="form">
      <h2>Contacto</h2>
      <form
        class="contact-form"
        action="/send-message"
        method="post"
        id="contactForm"
      >
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required />

        <label for="location">Ubicación:</label>
        <input type="text" id="location" name="location" />

        <label for="message">Mensaje:</label>
        <textarea id="message" name="message" rows="5" required></textarea>

        <button type="submit">Enviar</button>
      </form>

      <!-- Modal -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalMessage"></p>
        </div>
      </div>

    </section>

    <script>    
      document
        .getElementById("contactForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const form = event.target;
          const formData = new FormData(form);
          const formDataObject = Object.fromEntries(formData.entries());

          try {
            const response = await fetch("/send-message", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(formDataObject),
            });

            if (response.ok) {
              showModal(
                "Mensaje enviado con éxito, pronto me pondré en contacto con usted vía e-mail. /n Muchas gracias! "
              );
            } else {
              showModal(
                "Error al enviar el mensaje. Por favor intente luego o contácteme via e-mail."
              );
            }
          } catch (error) {
            showModal(
              "Error al enviar el mensaje. Por favor intente luego o contácteme via e-mail."
            );
          }

          /*setTimeout(() => {
            window.location.href = '/#';
          }, 8000);*/
        });

      function showModal(message) {
        const modal = document.getElementById("myModal");
        const modalContent = document.querySelector(".modal-content");
        const modalMessage = document.getElementById("modalMessage");
        const closeBtn = document.getElementsByClassName("close")[0];

        modalMessage.textContent = message;
        modal.classList.add("show");
        modalContent.classList.add("show");

        closeBtn.onclick = function () {
          hideModal(modal, modalContent);
        };

        window.onclick = function (event) {
          if (event.target == modal) {
            hideModal(modal, modalContent);
          }
        };
      }

      function hideModal(modal, modalContent) {
        modal.classList.remove("show");
        modalContent.classList.remove("show");
        setTimeout(() => {
          modal.style.display = "none";
        }, 500);
      }
    </script>

  </body>
</html>
